In [1]:
!pip install PyPDF2

Collecting PyPDF2
  Downloading pypdf2-3.0.1-py3-none-any.whl (232 kB)
Requirement already satisfied: typing_extensions>=3.10.0.0 in c:\users\umair\anaconda3\lib\site-packages (from PyPDF2) (4.4.0)
Installing collected packages: PyPDF2
Successfully installed PyPDF2-3.0.1

WARNING: Ignoring invalid distribution -umpy (c:\users\umair\appdata\roaming\python\python39\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\umair\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\umair\appdata\roaming\python\python39\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\umair\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\umair\appdata\roaming\python\python39\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\umair\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\umair\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\umair\appdata\roaming\python\python39\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\umair\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\umair\appdata\roaming\python\python39\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\umair\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\umair\appdata\roaming\python\python39\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\umair\anaconda3\lib\site-packages)

In [3]:
def replace_whitespace (string):
    #replace \n and \t with a space
    string = string.replace ("\n", " ").replace ("\t", " ")

    return string

In [7]:
# It only works on textual data
import PyPDF2

pdfFileObj = open('Experience_Letter (1).pdf', 'rb')
pdfReader = PyPDF2.PdfReader(pdfFileObj)
pages = pdfReader.pages
# pages_text = [clean_text(pages[i].extract_text()) for i in range(len(pages))]
pages_text = [(pages[i].extract_text()) for i in range(len(pages))]
pages_text
# pages_texts = " ".join(pages_text)
# pages_texts = replace_whitespace(pages_texts)
# db = create_substrings(pages_texts)
# ids = [str(i) for i in range(len(pages_texts))]

In [8]:
pages_texts

'Experience Letter September 20, 2023 To Whom it May Concern Muhammad Aashir has successfully completed the tenure at the Artificial Intelligence and Machine Learning Lab at the National University of Computer and Emerging Sciences. He was a Machine Learning Researcher at the lab from 20 August 2022 to 1st July 2023. He worked on Multimodal Hate speech Detection for Urdu Language. He excelled in curating a comprehensive Urdu dataset and developing advanced multimodal models for hate speech detection. Furthermore, he implemented cross-modal fusion techniques, such as Late Fusion and Early Fusion, as part of his approach. He has a genuine passion for computation, encompassing the practical and theoretical branches of modern computer science. I have witnessed several examples of his intelligence and have been impressed by his ability to solve complex problems. I wish his success in his future endeavors. Mirza Omer Beg Professor, Department of Computer Science Head, Artificial Intelligence and Machine Learning Lab (AIM) National University of Computer and Emerging Sciences A.K. Brohi Road, H-11/4, Islamabad, Pakistan Tel: 111-128-128 x634 E-mail: omer.beg@nu.edu.pk'

In [9]:
import tabula
import pandas as pd
custom_column_names=["Security Borrower","Foreign Banks","Private Sector Banks","Public Sector Banks","Specialized Banks","All Banks"]

In [10]:
pdf_file_path = "fil.pdf"
df_list = tabula.read_pdf(pdf_file_path, pages=1)

In [11]:
df_list

[                                   Security/ Borrower    31-Aug-2023
 0                                                 NaN  Foreign Banks  \
 1                             1. FOREIGN CONSTITUENTS            0.0
 2                            2. DOMESTIC CONSTITUENTS          467.4
 3                                       I. GOVERNMENT          397.2
 4   II.  NON-FINANCIAL PUBLIC SECTOR ENTERPRISES (...              -
 ..                                                ...            ...
 91                                      a) Indigenous              -
 92                                        b) Imported              -
 93                                    9. Sports Goods              -
 94                           10. Surgical Instruments            0.1
 95                             11. Chemicals and Dyes            0.0

                Unnamed: 0           Unnamed: 1         Unnamed: 2 Unnamed: 3
 0   Private Sector\rBanks  Public Sector Banks  Specialized Banks  All Banks
 1                       -                    -                  -        0.0
 2                 8,426.0              2,410.9              132.1   11,436.4
 3                   859.6                473.1                  -    1,729.9
 4                 1,067.7                520.5                  -    1,588.2
 ..                    ...                  ...                ...        ...
 91                  119.1                 17.1                  -      136.3
 92                    3.2                    -                  -        3.2
 93                    1.4                  0.1                  -        1.5
 94                    6.1                  0.1                  -        6.2
 95                   52.2                  8.0                  -       60.3

 [96 rows x 6 columns]]

In [5]:
combined_df = pd.concat(dfs, ignore_index=True)
combined_df

,Security/ Borrower,31-Aug-2023,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,Foreign Banks,Private Sector\rBanks,Public Sector Banks,Specialized Banks,All Banks
1,1. FOREIGN CONSTITUENTS,0.0,-,-,-,0.0
2,2. DOMESTIC CONSTITUENTS,467.4,"8,426.0","2,410.9",132.1,"11,436.4"
3,I. GOVERNMENT,397.2,859.6,473.1,-,"1,729.9"
4,II. NON-FINANCIAL PUBLIC SECTOR ENTERPRISES (...,-,"1,067.7",520.5,-,"1,588.2"
...,...,...,...,...,...,...
91,a) Indigenous,-,119.1,17.1,-,136.3
92,b) Imported,-,3.2,-,-,3.2
93,9. Sports Goods,-,1.4,0.1,-,1.5
94,10. Surgical Instruments,0.1,6.1,0.1,-,6.2
95,11. Chemicals and Dyes,0.0,52.2,8.0,-,60.3

In [6]:
df=combined_df
df.columns=custom_column_names
# df.columns = ['_'.join(col).strip() for col in df.columns.values]
# df.columns = df.columns.str.replace('_', ' ')
df

,Security Borrower,Foreign Banks,Private Sector Banks,Public Sector Banks,Specialized Banks,All Banks
0,NaN,Foreign Banks,Private Sector\rBanks,Public Sector Banks,Specialized Banks,All Banks
1,1. FOREIGN CONSTITUENTS,0.0,-,-,-,0.0
2,2. DOMESTIC CONSTITUENTS,467.4,"8,426.0","2,410.9",132.1,"11,436.4"
3,I. GOVERNMENT,397.2,859.6,473.1,-,"1,729.9"
4,II. NON-FINANCIAL PUBLIC SECTOR ENTERPRISES (...,-,"1,067.7",520.5,-,"1,588.2"
...,...,...,...,...,...,...
91,a) Indigenous,-,119.1,17.1,-,136.3
92,b) Imported,-,3.2,-,-,3.2
93,9. Sports Goods,-,1.4,0.1,-,1.5
94,10. Surgical Instruments,0.1,6.1,0.1,-,6.2
95,11. Chemicals and Dyes,0.0,52.2,8.0,-,60.3

In [7]:
df = df.drop(0)

In [ ]:
df.to_csv

In [8]:
df

,Security Borrower,Foreign Banks,Private Sector Banks,Public Sector Banks,Specialized Banks,All Banks
1,1. FOREIGN CONSTITUENTS,0.0,-,-,-,0.0
2,2. DOMESTIC CONSTITUENTS,467.4,"8,426.0","2,410.9",132.1,"11,436.4"
3,I. GOVERNMENT,397.2,859.6,473.1,-,"1,729.9"
4,II. NON-FINANCIAL PUBLIC SECTOR ENTERPRISES (...,-,"1,067.7",520.5,-,"1,588.2"
5,III. NON-BANK FINANCIAL INSTITUTIONS (NBFIs),-,248.7,23.5,0.1,272.3
...,...,...,...,...,...,...
91,a) Indigenous,-,119.1,17.1,-,136.3
92,b) Imported,-,3.2,-,-,3.2
93,9. Sports Goods,-,1.4,0.1,-,1.5
94,10. Surgical Instruments,0.1,6.1,0.1,-,6.2
95,11. Chemicals and Dyes,0.0,52.2,8.0,-,60.3

In [1]:
import tabula
import pandas as pd
# custom_column_names=["Security Borrower","Foreign Banks","Private Sector Banks","Public Sector Banks","Specialized Banks","All Banks"]

In [44]:
pdf_file_path = "20231004151108127552000_1118450_T-BILLS_MATURITY_DUE_ON_05-10-2023.pdf"
df_list = tabula.read_pdf(pdf_file_path, pages=2)

dfs = []
for df in df_list:
    dfs.append(df)

    
combined_df = pd.concat(dfs, ignore_index=True)
combined_df.drop(0)
# df_list

Got stderr: Oct 12, 2023 5:03:07 PM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for .notdef (9) in font Helvetica
Oct 12, 2023 5:03:08 PM org.apache.pdfbox.rendering.Type1Glyph2D getPathForCharacterCode
WARNING: No glyph for code 9 (.notdef) in font Helvetica

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,For Resident,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
1,NaN,NaN,NaN,NaN,NaN,Profit/,Customer,NaN,NaN,Resident,as per,NaN,NaN,Nat Payable
2,Customer Name,Dealer,Deader,Face vain.,east Amount,Profit More Discount,cateten,"MI""",Ptefit opts,WM),attpabed,Percent,Tax Amount,Amount
3,NaN,Name,Pilaf,NaN,NaN,NaN,NaN,(Tdd itt.sonnee,man ns-soeime,NaN,MeA Of any),(%),NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Per per annum 09141,NaN,NaN,NaN,NaN,NaN
5,ADADAGE INSURANCE CO. LTD.,NaN,NaN,NaN,NaN,NaN,EMPLOYEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,MO,95.0250,"25,000,000","23,756,250","1,243,750",NaN,F,NaN,N,V,CL CO,EXEMPTED,"25.000,0(10"
7,EMPLOYEES GUI-UFO GINO.,NaN,NaN,NaN,NaN,NaN,FUNDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,MARCH INSURANCE CO. LTD.,NaN,NaN,NaN,NaN,NaN,EMPLOYEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,MO,950250,"140,000E00","133,035,060","6,965,000",NaN,NaN,NaN,N,Y,0.00,EXEMPTED,"140,000,000"
10,EMPLOYEES PROVIDENT FUND,NaN,NaN,NaN,NaN,NaN,FUNDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,AIMMEE UTE ASSURANCE CO. LTD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,HA618METP,95.0254,"617,000,000","586,306,718","30,693,282",OTHEFtS,F,NaN,N,y,0.00,EXEMPTED,"612,009,000"
13,OM),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,ADANIDE LIFE ASSURMICE CO. LTD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,HAMEIMETF,95.0054,"325,003,030","308,832,550",1E167.450,OTHERS,F,NaN,N,Y,0.00,EXEMPTED,"325,003,030"
16,IMF),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,ADAMIEE UFEASSURANCE,NaN,NaN,NaN,NaN,NaN,INSURANCE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,MO,95.0254,"500,000,000","475,127,000","24,873,000",NaN,F,NaN,N,r,0.00,EXEMPTED,"400,000.090"
19,COMPANY UMUTE0,NaN,NaN,NaN,NaN,NaN,COMPANIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,ADMAXE LIFE ASSURANCE,NaN,NaN,NaN,NaN,NaN,INSURANCE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,MO,95.0145,"100,000000","95,014500","4,985,500",NaN,F,NaN,N,Y,0.00,EXEMPTED,100.000.000
22,COMPANY UMITED,NaN,NaN,NaN,NaN,NaN,LOMPANIS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,POMADE UFEASSURANCE,NaN,NaN,NaN,NaN,NaN,INSURANCE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,MCI,95.0145,"5,0130,000","4,750,725","249,275",NaN,F,NaN,N,'I,0.00,EXEMPTED,"5,000,000"
25,COMPANY OWED,NaN,NaN,NaN,NaN,NaN,COMPANIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,ADAMIES ups ASSURANCE,NaN,NaN,NaN,NaN,NaN,INSURANCE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,MCI,95.0250,"815.000,000","724,453,750",411546.250,NaN,F,NaN,N,r,0.00,EXEMPTED,"815,003000"
28,COMPANY UNITED,NaN,NaN,NaN,NaN,NaN,;OM PANIE5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,INDUSTRIAL TECHNICAL AND,NaN,NaN,NaN,NaN,NaN,N60/CHARITAB,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,MO,950254,"134,0E0,000","127,334,036","6,665,964",NaN,F,NaN,N,Y,0.00,EXEMPTED,"134,000,000"
31,EMICATIONAL MITTUTE,NaN,NaN,NaN,NaN,NaN,IF,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,EMPLOYEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,MCI PROVIDENT RIND (PAR STAFF),MCI,95.0250,"500,003,000","475,125,000","24,875,000",NaN,F,NaN,N,r,0.00,EXEMPTED,"500,000500"
34,NaN,NaN,NaN,NaN,NaN,NaN,BINDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,PAO(AGES UNITED EMPLOYEF.S,NaN,NaN,NaN,NaN,NaN,EMPLOYEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,MCI,95.0145,"6,290,000","5,976,412","313,588",NaN,F,NaN,N,NaN,0.00,EXEMPTED,"6,290,030"
37,GRATUITY FUND,NaN,NaN,NaN,NaN,NaN,FUNDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,PACKAGES UMITE0 EMPLOYEES,NaN,NaN,NaN,NaN,NaN,EMPLOYEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,Mal,95.0254,"44,000500","41,811,175","1,188,824",NaN,F,NaN,N,Y,0.00,EXEMPTED,"44,000,000"
40,GRATURY FUND,NaN,NaN,NaN,NaN,NaN,BINDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,PACKAGES UNITED EMPLOYEES,NaN,NaN,NaN,NaN,NaN,EMPLOYEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,MCI,955145,"13,945E00","13,249,772","595,228",NaN,F,NaN,NaN,NaN,ODD,EXEMPTED,"13,945500"
43,PROVIDENT FUND,NaN,NaN,NaN,NaN,NaN,FUNDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,PACKAGES UMITED EMPLOYEES,NaN,NaN,NaN,NaN,NaN,EMPLOYEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,Ma,95.0254,"207700,030","197,367,756","10,332,244",NaN,F,NaN,N,V,0.00,EXEMPTED,"207,7130,070"
46,PROMDENT FUND,NaN,NaN,NaN,NaN,NaN,FUNDS,1,NaN,NaN,NaN,NaN,NaN,NaN
47,PACKAGES WAITED MANAGEMENT,NaN,NaN,NaN,NaN,NaN,EMPLOYEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,MO,95.0145,"15,100,000","14,347,190","752,810",NaN,F,NaN,N,r,MOO,EXEMPTED,"15,100,000"
49,STAFF PENSION FUND,NaN,NaN,NaN,NaN,NaN,FUNDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,PAINAGES LIMITED MANAGEMENT,NaN,NaN,NaN,NaN,NaN,EMPLOYEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,Mall,95.0254,"196,700000","186,914,962","9,785,038",NaN,F,NaN,N,r,0.1)0,EXEMPTED,"196,700E00"
52,STAFF PENSION FUND,NaN,NaN,NaN,NaN,NaN,FUNDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
combined_df=combined_df.drop(1)

In [46]:
combined_df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,For Resident,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,Prfenaty,Primary,NaN,NaN,NaN,NaN,NaN,Non Filer,NaN,Tax EsemptIon,Tax,NaN,NaN
2,Customer Name,Dealer,Deader,Face vain.,east Amount,Profit More Discount,cateten,"MI""",Ptefit opts,WM),attpabed,Percent,Tax Amount,Amount
3,NaN,Name,Pilaf,NaN,NaN,NaN,NaN,(Tdd itt.sonnee,man ns-soeime,NaN,MeA Of any),(%),NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Per per annum 09141,NaN,NaN,NaN,NaN,NaN
5,ADADAGE INSURANCE CO. LTD.,NaN,NaN,NaN,NaN,NaN,EMPLOYEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,MO,95.0250,"25,000,000","23,756,250","1,243,750",NaN,F,NaN,N,V,CL CO,EXEMPTED,"25.000,0(10"
7,EMPLOYEES GUI-UFO GINO.,NaN,NaN,NaN,NaN,NaN,FUNDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,MARCH INSURANCE CO. LTD.,NaN,NaN,NaN,NaN,NaN,EMPLOYEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,MO,950250,"140,000E00","133,035,060","6,965,000",NaN,NaN,NaN,N,Y,0.00,EXEMPTED,"140,000,000"
10,EMPLOYEES PROVIDENT FUND,NaN,NaN,NaN,NaN,NaN,FUNDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,AIMMEE UTE ASSURANCE CO. LTD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,HA618METP,95.0254,"617,000,000","586,306,718","30,693,282",OTHEFtS,F,NaN,N,y,0.00,EXEMPTED,"612,009,000"
13,OM),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,ADANIDE LIFE ASSURMICE CO. LTD.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,HAMEIMETF,95.0054,"325,003,030","308,832,550",1E167.450,OTHERS,F,NaN,N,Y,0.00,EXEMPTED,"325,003,030"
16,IMF),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,ADAMIEE UFEASSURANCE,NaN,NaN,NaN,NaN,NaN,INSURANCE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,MO,95.0254,"500,000,000","475,127,000","24,873,000",NaN,F,NaN,N,r,0.00,EXEMPTED,"400,000.090"
19,COMPANY UMUTE0,NaN,NaN,NaN,NaN,NaN,COMPANIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,ADMAXE LIFE ASSURANCE,NaN,NaN,NaN,NaN,NaN,INSURANCE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,MO,95.0145,"100,000000","95,014500","4,985,500",NaN,F,NaN,N,Y,0.00,EXEMPTED,100.000.000
22,COMPANY UMITED,NaN,NaN,NaN,NaN,NaN,LOMPANIS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,POMADE UFEASSURANCE,NaN,NaN,NaN,NaN,NaN,INSURANCE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,MCI,95.0145,"5,0130,000","4,750,725","249,275",NaN,F,NaN,N,'I,0.00,EXEMPTED,"5,000,000"
25,COMPANY OWED,NaN,NaN,NaN,NaN,NaN,COMPANIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,ADAMIES ups ASSURANCE,NaN,NaN,NaN,NaN,NaN,INSURANCE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,MCI,95.0250,"815.000,000","724,453,750",411546.250,NaN,F,NaN,N,r,0.00,EXEMPTED,"815,003000"
28,COMPANY UNITED,NaN,NaN,NaN,NaN,NaN,;OM PANIE5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,INDUSTRIAL TECHNICAL AND,NaN,NaN,NaN,NaN,NaN,N60/CHARITAB,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,MO,950254,"134,0E0,000","127,334,036","6,665,964",NaN,F,NaN,N,Y,0.00,EXEMPTED,"134,000,000"
31,EMICATIONAL MITTUTE,NaN,NaN,NaN,NaN,NaN,IF,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,EMPLOYEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,MCI PROVIDENT RIND (PAR STAFF),MCI,95.0250,"500,003,000","475,125,000","24,875,000",NaN,F,NaN,N,r,0.00,EXEMPTED,"500,000500"
34,NaN,NaN,NaN,NaN,NaN,NaN,BINDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,PAO(AGES UNITED EMPLOYEF.S,NaN,NaN,NaN,NaN,NaN,EMPLOYEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,MCI,95.0145,"6,290,000","5,976,412","313,588",NaN,F,NaN,N,NaN,0.00,EXEMPTED,"6,290,030"
37,GRATUITY FUND,NaN,NaN,NaN,NaN,NaN,FUNDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,PACKAGES UMITE0 EMPLOYEES,NaN,NaN,NaN,NaN,NaN,EMPLOYEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,Mal,95.0254,"44,000500","41,811,175","1,188,824",NaN,F,NaN,N,Y,0.00,EXEMPTED,"44,000,000"
40,GRATURY FUND,NaN,NaN,NaN,NaN,NaN,BINDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,PACKAGES UNITED EMPLOYEES,NaN,NaN,NaN,NaN,NaN,EMPLOYEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,MCI,955145,"13,945E00","13,249,772","595,228",NaN,F,NaN,NaN,NaN,ODD,EXEMPTED,"13,945500"
43,PROVIDENT FUND,NaN,NaN,NaN,NaN,NaN,FUNDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,PACKAGES UMITED EMPLOYEES,NaN,NaN,NaN,NaN,NaN,EMPLOYEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,Ma,95.0254,"207700,030","197,367,756","10,332,244",NaN,F,NaN,N,V,0.00,EXEMPTED,"207,7130,070"
46,PROMDENT FUND,NaN,NaN,NaN,NaN,NaN,FUNDS,1,NaN,NaN,NaN,NaN,NaN,NaN
47,PACKAGES WAITED MANAGEMENT,NaN,NaN,NaN,NaN,NaN,EMPLOYEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,MO,95.0145,"15,100,000","14,347,190","752,810",NaN,F,NaN,N,r,MOO,EXEMPTED,"15,100,000"
49,STAFF PENSION FUND,NaN,NaN,NaN,NaN,NaN,FUNDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,PAINAGES LIMITED MANAGEMENT,NaN,NaN,NaN,NaN,NaN,EMPLOYEES,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,Mall,95.0254,"196,700000","186,914,962","9,785,038",NaN,F,NaN,N,r,0.1)0,EXEMPTED,"196,700E00"
52,STAFF PENSION FUND,NaN,NaN,NaN,NaN,NaN,FUNDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
import pandas as pd

In [ ]:
re